/* BASIC */

@font-face {
    font-family: Vazirmatn;
    src: url(./assets/webfonts/Vazirmatn-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
}


*,*::after,*::before{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Vazirmatn";
}

h1{
    font-size: 3.5rem;
    
}

h2{
    font-size: 2.2rem;
    
}

h3{
    font-size: 1.6rem;
}


:root{
    --color-primary: #0449aa;
    --color-secondary: #7ab4e4;
    --color-btn: #019684;
    --color-text: #5c5b5b;
    --color-white: #ffffff ; 
}



/* USERS LIST SECTION */

.users-list{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
    column-gap: 10rem;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container > h1{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 6rem;
    white-space: nowrap;
}



/* HEADING SECTION */

.heading{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.upload{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


.upload-number{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding:.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-title{
    margin-right: 1rem;
    color: var(--color-primary);

}

.upload-date{
    color: var(--color-text);
    font-size: 1.5rem
  
}



/* REQUEST SECTION */

.request-title{
    margin-top: 1.5rem;
}

.request-text{
    color: var(--color-text);
    font-size: 1.5rem ;
    
}



/* USER DETAILS SECTION */

.user-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4.5rem;
}

.user-name > img{
    width:  4.5rem;
    height: 4.5rem;
    border-radius: 8px;
    margin-left: .5rem;

}


.user-name{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.btn{
    width: 15rem;
    height: 6rem;
    border: none;
    font-size: 1.5rem;
    background-color: var(--color-btn);
    color: var(--color-white);
    border-radius: 7px;
    font-family: Vazirmatn;;
    display: flex;
    justify-content: center;
    align-items: center;



}



@media screen and (min-width : 687px ){

    .users-list{
        grid-template-columns: repeat( 2 , 1fr);
     }

}

@media screen and (min-width : 1024px ){

    .users-list{
        grid-template-columns: repeat( 3 , 1fr);
    }
    
}
